@charset "UTF-8";
/* adminform.css */
.admindefault {
	color: black;
    background-color: white;
}
.adminspan{
	display: flex;
	grid-template-columns: auto 20px auto;
}
.adminhyphen{
	text-align: center; 
	margin: 0 5px;
}
.adminempdiv{
	text-align: right;
}
.adminempdiv1{
	margin: 0 0 0 5px;
}
.adminempdiv2{
	margin: 0 0 0 25px;
}
.adminempdiv3{
	margin: 0 0 0 29px;
}
.adminempdiv4{
	margin: 0 0 0 32px;
}
.adminempdiv5{
	margin: 0 0 0 47px;
}
.adminempdiv6{
	margin: 0 0 0 60px;
}
label.form-label {
    margin: 0px -20px 0px 20px;
}
