@charset "UTF-8";
/* mypageempform.css */
.mypageemplabel{
	float: left;
	margin: 0px -20px 0px 20px;
}
.mypagespan{
	display: flex;
	grid-template-columns: auto 20px auto;
}
.mypagehyphen{
	text-align: center; 
	margin: 0 5px;
}
.mypageempdiv{
	text-align: right;
}
.mypageempdiv1{
	margin: 0 0 0 5px;
}
.mypageempdiv2{
	margin: 0 0 0 25px;
}
.mypageempdiv3{
	margin: 0 0 0 29px;
}
.mypageempdiv4{
	margin: 0 0 0 32px;
}
.mypageempdiv5{
	margin: 0 0 0 47px;
}
.mypageempdiv6{
	margin: 0 0 0 60px;
}
.mypageempborder{
	border-color: #eee;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mypageempsel{
	height: 35px;
	margin: 0px -8px 0px 8px;
}
.mypageempdiv7{
	margin: 13px 0px 0px -25px;
}
.mypageemptr{
	text-align: center; 
	color: black;
}
.mypageempspan{
	font-size: 17px;
}
.mypageempdiv8{
	position: absolute;
	right: 60px;
	top: 60px;
	width: 170px;
	height: 200px;
}
.employeeimage {
	width: 100%;
	height: 100%;
}
#organization-chart{
	margin: 15px 0 0 15px;
}
.mypageempdiv9{
	margin: 10px 0 0 20px;
}
.mypageempdiv9 a{
    margin: 5px 0 0 0;
}
.mypageempdiv10 {
    margin: 4px 0 0 120px;
}
.mypageempdiv11 {
  overflow: hidden; 
}
.mypageempdiv11 img{
 max-width: 100%; 
 height: auto;
}    